<div class="row text-center" style="color:aliceblue">
            <div class="col-md-4">
                <hr>
            </div>
            <div id="skills" class="col-md-4">
                <h2>ABOUT ME</h2>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
        </div>

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-md-7">
                    <h2 style="    font-size: 25px;">
                           Background
                       </h2>
                    <p> Hello! My name is Anais Sarrazin and I'm a rising senior at Bowdoin College pursuing a double major in Computer Science and Mathematics. I am French-Canadian and Korean American who has interned at a traditional IT organization where I was a business analyst and at an enterprise software company where I was part of the product team for IoT. I’m curious and like to understand why things work (and do not work) and then to use technology and data to make their experience better.
                        <br> 
                        <!––I believe that collaboration is critical in the creation of new products and solutions. The importance of understanding what requirements the user needs are the foundation of the service and must be understood before creating the product or solution. </p> 
                </div>
                <div class="col-md-5">
                    <h2 style="    font-size: 25px;">
                       Objective
                   </h2>
                    <p class="objective">
                        I'm looking for an internship, and a full-time position thereafter, where I have the opportunity to apply my problem solving and creative skills to create products and services that will delight users or customers. I hope to join a collaborative team of driven colleagues and have the opportunity to learn from great mentors.
                    </p>
                    <!--

                        -->
                </div>
            </div>
        </div>

        <br>
        <br>
