<div class="row text-center" style="color:aliceblue">
            <div class="col-md-4">
                <hr>
            </div>
            <div id="exp" class="col-md-4">
                <h2>WORK EXPERIENCES</h2>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
        </div>

        <div class="container" style="margin-top:30px">
                <div class="row ml-1 eduentry">
                <div class="col-md-12 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
                           Software Product Management Intern
                       </h2>
                    <h1 style="font-size: 18px; font-weight: 600; color: #007bff">
                        <a href="https://www.sonos.com/en-us/home" style="color: #007bff;">Sonos</a> <a style="font-size:10px"></a>
                       </h1>
                    <h2 style="font-size: 15px;font-weight: 600;">
                        <span class="fa-stack fa-sm">
                        <i class="fa fa-calendar fa-stack-1x"></i></span> Summer 2020 &nbsp; <span style="border-left:solid; border-left: 1px solid;"> &nbsp; Remote Internship</span>
                    </h2>

                    <p>
                        <ul class="text-left">
                            <li>Built technical requirements for the seamless integration of a new audio technology in the multi-channel home. </li>
                            <li>Developed and chose the best use case, through talking with user experience, audio engineers, partners and product managers.</li>
                        </ul>

                    </p>
                </div>
            </div>
                <hr class="sep-marks" style="    border-top: 1px solid rgba(163, 163, 163, 0.24);">  
            <div class="row ml-1 eduentry">
                <div class="col-md-12 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
                           Teaching Assistant/Course Liaison 
                       </h2>
                    <h1 style="font-size: 18px; font-weight: 600; color: #007bff">
                        <a href="https://www.bowdoin.edu/computer-science/" style="color: #007bff;">Bowdoin College, Computer Science Department</a> <a style="font-size:10px"></a>
                       </h1>
                    <h2 style="font-size: 15px;font-weight: 600;">
                        <span class="fa-stack fa-sm">
                        <i class="fa fa-calendar fa-stack-1x"></i></span> January, 2020 - May, 2020 &nbsp; <span style="border-left:solid; border-left: 1px solid;"> &nbsp; Remote Internship</span>
                    </h2>

                    <p>
                        <ul class="text-left">
                            <li>Worked with professor to support final in-class project focused on building new technologies for the visually impaired by using agile methodologies.  </li>
                            <li>Led the UX/UI, software, voice-interface teams and tracked progress to ensure deadlines were met.</li>
                            <li>Helped facilitate communication between students and the Iris Network, an organization helping the visually impaired attain independence and community integration.</li>
                        </ul>

                    </p>
                </div>
            </div>
                <hr class="sep-marks" style="    border-top: 1px solid rgba(163, 163, 163, 0.24);"> 
                <div class="row ml-1 eduentry">
                <div class="col-md-9 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
                           Product Management Intern
                       </h2>
                    <h1 style="font-size: 18px; font-weight: 600; color: #007bff">
                        <a href="https://www.ptc.com/" style="color: #007bff;">PTC Inc.</a> <a style="font-size:10px"></a>
                       </h1>
                    <h2 style="font-size: 15px;font-weight: 600;">
                        <span class="fa-stack fa-sm">
                        <i class="fa fa-calendar fa-stack-1x"></i></span> May, 2019 to January, 2020 &nbsp; <span style="border-left:solid; border-left: 1px solid;"> &nbsp; Boston, Massachusetts</span>
                    </h2>

                    <p>
                        <ul class="text-left">
                            <li>Identified usability gaps of a key module of the IoT platform, ThingWorx.</li>
                            <li>Proposed improvements in the structure, features, and documentation of module. </li>
                            <li>Syndicated a new product roadmap across different engineering teams.</li>
                            <li>Prioritized bug requests by extracting Jira information using REST APIs.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <hr class="sep-marks" style="    border-top: 1px solid rgba(163, 163, 163, 0.24);">
            <div class="row ml-1 eduentry">
                <div class="col-md-12 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
                           Junior Business Analyst
                       </h2>
                    <h1 style="font-size: 18px; font-weight: 600; color: #007bff">
                        <a href="https://www.gapinc.com/content/gapinc/html.html" style="color: #007bff;">Gap Inc. Office of the CIO</a> <a style="font-size:10px"></a>
                       </h1>
                    <h2 style="font-size: 15px;font-weight: 600;">
                        <span class="fa-stack fa-sm">
                        <i class="fa fa-calendar fa-stack-1x"></i></span> Summer 2017 & Summer 2018 &nbsp; <span style="border-left:solid; border-left: 1px solid;"> &nbsp; San Francisco, California</span>
                    </h2>

                    <p>
                        <ul class="text-left">
                            <li>Helped drive performance of Gap’s IT assets by designing a new cloud dashboard across application, infrastructure, and ops that normalize key data. </li>
                            <li>Informed Gap's public cloud migration strategy by conducting a technical comparative analysis of Cloud solutions (MSFT, AWS, ORCL).</li>
                            <li>Boosted productivity within the department by running workshops and creating video tutorials explaining how to use Power BI.</li>
                        </ul>

                    </p>
                </div>
            </div>
            <hr class="sep-marks" style="    border-top: 1px solid rgba(163, 163, 163, 0.24);">
            <div class="row ml-1 eduentry">
                <div class="col-md-12 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
                       IT Technology Intern
                   </h2>
                    <h1 style="font-size: 18px; font-weight: 600; color: #007bff">
                        <a href="https://www.castilleja.org" style="color: #007bff;">Technology Department, Castilleja School</a> <a style="font-size:10px"></a>
                       </h1>
                    <h2 style="font-size: 15px;font-weight: 600;">
                        <span class="fa-stack fa-sm">
                        <i class="fa fa-calendar fa-stack-1x"></i></span> Summer 2016 &nbsp; <span style="border-left:solid; border-left: 1px solid;"> &nbsp; Palo Alto, California</span>
                    </h2>

                    <p>
                        <ul class="text-left">
                            <li>Restored and re-imaged iPads, computers, and hardware for the next academic year.</li>
                            <li>Increased efficiency by creating a new IT asset management system in Excel.</li>
                        </ul>

                    </p>
                </div>
            </div>
            <hr class="sep-marks" style="    border-top: 1px solid rgba(163, 163, 163, 0.24);">
            <div class="row ml-1 eduentry">
                <div class="col-md-12 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
                       Intern
                   </h2>
                    <h1 style="font-size: 18px; font-weight: 600; color: #007bff">
                        <a href="https://www.castilleja.org" style="color: #007bff;">Cardiothoracic Department, Stanford University</a> <a style="font-size:10px"></a>
                       </h1>
                    <h2 style="font-size: 15px;font-weight: 600;">
                        <span class="fa-stack fa-sm">
                        <i class="fa fa-calendar fa-stack-1x"></i></span> Summer 2015 &nbsp; <span style="border-left:solid; border-left: 1px solid;"> &nbsp; Stanford, California</span>
                    </h2>

                    <p>
                        <ul class="text-left">
                            <li>Tested new valve designs to solve Atrial Septal Defect through research and dissections of sheep hearts.</li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>

        <br>
        <br>
