<!DOCTYPE html>
<html>

<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    <script src="https://use.fontawesome.com/d41a1a9d72.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--- -------------------------------------- --->
    <meta property="og:site_name" content="Anais's Resume" />
    <meta property="og:title" content="About Anais Sarrazin" />
    <meta property="og:description" content="This web page is a Resume and contains all my experiences, education and achievements." />
    <meta property="og:image" content="https://asarrazin.github.io/image.jpg">
    <meta property="og:url" content="https://asarrazin.github.io/">
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Anais">
    <meta property="profile:last_name" content="Sarrazin">
    <meta property="profile:gender" content="female">
    <meta property="profile:username" content="asarrazin">
    <meta property="og:image:width" content="255">
    <meta property="og:image:height" content="255">
 </head>
 
 <body>
