<div class="container firstB">
            <div class="row">
                <div class="col-md-7">
                    <br>
                    <h1 class="text-center">ANAÏS SARRAZIN</h1>

                    <br>
                    <div class="text-center">
                        <a  class="github-link" data-toggle="tooltip" title="Github Profile" href="https://github.com/asarrazin" target="_blank" style="padding: 10px 0px;"><span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-github fa-stack-1x"></i>
                   </span></a>
                        <a  class="linkedin-link" data-toggle="tooltip" title="LinkedIn Profile" href="https://www.linkedin.com/in/asarrazin/" target="_blank" style="padding: 10px 0px;"><span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-linkedin fa-stack-1x"></i>
                   </span></a>
                    </div>

                    <br>
                </div>
                <div class="col-md-5 image">
                    <img class="img-responsive mx-auto d-block mydp rounded-circle" src="/Anais_Sarrazin.jpg">
                </div>
            </div>
        </div>
        <br>

        <div class="container contact-info">
            <div class="row">

                <div class="col-md-4">
                    <a data-toggle="tooltip" title="Click to email me"  href="mailto:anais.sarrazin@gmail.com" class="contact-links">
                        <span class="fa-stack fa-lg">
                    <i class="fa fa-envelope-square fa-stack-2x"></i></span> &nbsp; anais.sarrazin@gmail.com
                    </a>
                </div>

                <div class="col-md-4">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-phone-square fa-stack-2x"></i></span> &nbsp; 650.804.6208
                </div>

                <div class="col-md-4">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-map-marker fa-stack-2x"></i></span> &nbsp; Palo Alto, CA
                    </a>
                </div>
            </div>
        </div>

        <br>
        <br>
