<div class="row text-center" style="color:aliceblue">
            <div class="col-md-4">
                <hr>
            </div>
            <div id="more" class="col-md-4">
                <h2>MORE</h2>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
        </div>

        <div class="container" style="margin-top:30px">
            <div class="row ml-1 eduentry">
                <div class="col-md-4 float-left edu rborder">
                    <h2 style="font-size: 22px; font-weight: 600">
               Technologies
           </h2>
                    <p>
                        <span class="badge badge-primary">Jira</span>
                        <span class="badge badge-primary">Microsoft Office</span>
                        <span class="badge badge-primary">Power BI</span>
                        <span class="badge badge-primary">Visual Studio</span>
                        <span class="badge badge-primary">Git</span>
                        <span class="badge badge-primary">RStudio</span>
                    </p>
                </div>

                <div class="col-md-4 float-left edu rborder">
                    <h2 style="font-size: 22px; font-weight: 600">
               Interests
           </h2>
                    <p>
                        <div class="row interests">
                            <div class="col-md-6 float-left edu">
                                <ul class="interests">
                                    <li>Data Science</li>
                                    <li>Artificial Intelligence</li>
                                    <li>Artificial Intelligence</li>
                                </ul>
                            </div>

                            <div class="col-md-6 float-left edu">
                                <ul class="interests">
                                    <li>Blockchain</li>
                                    <li>Machine Learning</li>
                                    <li>NLP</li>
                                </ul>
                            </div>
                        </div>
                    </p>
                </div>

                <div class="col-md-4 float-left edu">
                    <h2 style="font-size: 22px; font-weight: 600">
           Languages
       </h2>
                    <p>
                        <div class="row">
                            <div class="col-md-6 float-left edu langs">
                                JAVA
                                <br> Python
                                <br> R
                                <br> C++
                            </div>

                            <div class="col-md-6 float-left edu">
                                <span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle-dim"></span>
                                <br>
                                <span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle-dim"></span>
                                <br>
                                <span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle-dim"></span><span id="circle-dim"></span>
                                <br>
                                <span id="circle"></span><span id="circle"></span><span id="circle"></span><span id="circle-dim"></span><span id="circle-dim"></span>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <br>
        <br>
